<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">

      <form [formGroup]="userForm" (ngSubmit)="onSubmitUser()">
        <h1> Crear Usuari </h1>
        <fieldset>
          <legend><span class="number">1</span> Informacio Basica</legend>
        
          <label for="nom">Nom:</label>
          <input type="text" id="nom" name="nom" formControlName="nom">
          <p class="error">{{errors.nom}}</p>
        
          <label for="cognom">Cognoms:</label>
          <input type="text" id="cognom" name="cognom" formControlName="cognom">
          <p class="error">{{errors.cognom}}</p>
        
          <label for="email">Usuari:</label>
          <input type="text" id="mail" name="user_email" formControlName="usuari">
          <p class="error">{{errors.usuari}}</p>
       
          <label for="password">Contrasenya:</label>
          <input type="password" id="password" name="user_password" formControlName="contrasenya">
          <p class="error">{{errors.contrasenya}}</p>
       
          <label for="password">Repetir contrasenya:</label>
          <input type="password" id="reppassword" name="rep_user_password" formControlName="repcontrasenya">
          <p class="error">{{errors.repcontrasenya}}</p>

        </fieldset>
        <fieldset>  
        
          <legend><span class="number">2</span> Caracteristiques</legend>
          
          
          <label for="job">Categoria:</label>
          <select id="job" name="user_job" formControlName="categoria">
              <option value="Infermeria">Infermeria</option>
              <option value="TCAI">TCAI</option>
          </select>
          <p class="error">{{errors.categoria}}</p>
          
          <label>Rol:</label>
          <input type="checkbox" id="admin" value="admin" name="admin" formControlName="rol"><label class="light" for="design">Admin</label><br>
          
         </fieldset>
         <p class="error">{{missatge}}</p>
         <button type="submit">Crear</button>
      </form>
        </div>
      </div>
      
    </body>
</html>