<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Sign Up</h2>
  
    <form class="login-container" [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
      <p><input type="text" id="nom" name="nom" formControlName="nom" placeholder="Nom"></p>
      <p><input type="email" formControlName="email" placeholder="Correu"><div *ngIf="signupForm.get('email')!.invalid && signupForm.get('email')!.touched">El format del correu es invalid</div></p>
      <p><input type="password" id="contrasenya" name="contrasenya" formControlName="contrasenya" placeholder="Contrasenya"></p>
      <p><input type="submit" value="Enviar"></p>
    </form>
  </div>