<div class="container d-flex flex-column flex-1 align-items-center justify-content-center">
  <nav>
    <ul>
      <li>
        <a (click)="submit()" class="d-flex justify-content-center align-items-center link" [ngClass]="btnStyle">
          <i class="material-icons-outlined">home</i>
          <span>home</span>
        </a>
      </li>
      <li>
        <a (click)="submit2()" class="d-flex justify-content-center align-items-center link" [ngClass]="btnStyle2">
          <i class="material-icons-outlined">search</i>
          <span>search</span>
        </a>
      </li>
      <li>
        <a (click)="submit3()" class="d-flex justify-content-center align-items-center link" [ngClass]="btnStyle3">
          <i class="material-icons-outlined">notifications</i>
          <span>notifications</span>
        </a>
      </li>
      <li>
        <a (click)="submit4()" class="d-flex justify-content-center align-items-center link" [ngClass]="btnStyle4">
          <i class="material-icons-outlined">settings</i>
          <span>settings</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
